/* Home Styles */
body,
html {
  height: 100%; /* Ensure the body takes full height */
  margin: 0; /* Remove default margin */
  font-family: Arial, sans-serif; /* Set a default font */
}

.container {
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 100dvh; /* Full viewport height */
  width: 100dvw;
  text-align: center; /* Center text */
  overflow: hidden; /* Prevent image overflow */
  /* Add padding for smaller devices */
}

h1 {
  margin-top: 20px;
  color: #333; /* Dark text color */
  font-size: 2rem; /* Adjust font size for better readability */
}

/* Image Styles */
img {
  object-fit: cover;
  display: block;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem; /* Smaller font size for tablets */
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.2rem; /* Smaller font size for mobile */
  }
}
